<h1>About</h1>
<p>
  This is an individual project for CIT 597 using Ruby on Rails to code an web app. It is a workout tracker app that helps you creates a workout and add exercises to each workout.
</p>
