<!DOCTYPE html>
<html>
<div class="center jumbotron">
  <h1>Welcome to the Workout Log</h1>
  <h2>
   This is an workout tracker that helps you log your workouts.
  
  </h2>
  <%= link_to "Sign up now!", new_user_session_path, class: "btn btn-lg btn-primary" %>

</html>
