</html>
<html>
  <%if @workouts.empty? %>
    <p> No workouts yet! </p>
    <p> <%= link_to "Create new workout", new_workout_path, class: "btn btn-lg btn-primary" %>
  <% else %>
    <% @workouts.each do |workout| %>
      <p> <%= link_to workout.date, workout %> </p>
      <p> <%= workout.workout %> </p>
    
      <% end %>
  <% end %>

</html>